{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Angular Getting Started</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <app-root></app-root>
      <!-- <img src="{% static 'dist/frontend/image.png' %}"></img> -->
    <script src="{% static 'dist/frontend/runtime.js' %}"></script>
    <script src="{% static 'dist/frontend/polyfills.js' %}"></script>
    <script src="{% static 'dist/frontend/styles.js' %}"></script>
    <script src="{% static 'dist/frontend/vendor.js' %}"></script>
    <script src="{% static 'dist/frontend/main.js' %}"></script>
  </body>
</html>